<%= form_for entry do |f| %>
 <div class="">
   <%= f.label :word %>
   <%= f.text_field :word %>
 </div>

 <div class="">
   <%= f.label :definition %>
   <%= f.text_field :definition %>
 </div>

 <div class="">
   <%= f.label :language %>
   <%= f.text_field :language %>
 </div>

 <div class="">
   <%= f.submit %>
 </div>
<% end %>
